* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: rgb(148, 146, 146);
}
.nav {
  background-color: black;
  height: 80px;
  width: 100%;
  &_logo {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
.sidenav {
  position: fixed;
  background: rgb(58, 58, 58);
  height: 100%;
  width: 300px;
  &_list_items {
    li {
      list-style: none;
      cursor: pointer;
      &:hover {
        background: rgb(135, 135, 135);
      }
      &:hover a {
        color: black;
      }
      &:hover i {
        color: black;
      }
      i {
        color: white;
      }
      a {
        color: white;
      }
    }
    .collapse_btn:hover .collapse_items {
      background: rgb(58, 58, 58);
    }
    .collapse {
      &_items {
        background: rgb(104, 104, 104);
      }
    }
  }
}
.banner {
  height: 400px;
  &_heading {
    font-size: 4rem;
  }
}
