* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #949292;
}

.nav {
  background-color: black;
  height: 80px;
  width: 100%;
}

.nav_logo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.sidenav {
  position: fixed;
  background: #3a3a3a;
  height: 100%;
  width: 300px;
}

.sidenav_list_items li {
  list-style: none;
  cursor: pointer;
}

.sidenav_list_items li:hover {
  background: #878787;
}

.sidenav_list_items li:hover a {
  color: black;
}

.sidenav_list_items li:hover i {
  color: black;
}

.sidenav_list_items li i {
  color: white;
}

.sidenav_list_items li a {
  color: white;
}

.sidenav_list_items .collapse_btn:hover .collapse_items {
  background: #3a3a3a;
}

.sidenav_list_items .collapse_items {
  background: #686868;
}

.banner {
  height: 400px;
}

.banner_heading {
  font-size: 4rem;
}
